html,
body {
    margin: 5px;
    padding: 0;
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    background: gainsboro;
}

a {
    text-decoration: none;
    color: saddlebrown;
    margin-top: 20px;
}

img {
    border-radius: 5px;
}

.prevNextIcons{
    margin-top: 20px;
}

.control_icons{
    float:left;
    display:inline;
    width: 49%;
}

.box {
    display: flex;
    justify-content: space-between;
}

.main_cart_icon{
    width: 50px;
    margin: 0 20px 10px 30px;
}


.back {
    width: 280px;
    padding: 10px 0px;
    background-color: orange;
    color: black;
    border-radius: 5px;
}

.display_none{
    display: none;
}

.next_prev{
    width: 200px;
    padding: 10px 0px;
    background-color: white;
    color: black;
    border-radius: 5px;
    margin: 10px;
}

.next_prev:hover {
    transition-duration: 0.3s;
    background-color: orange;
    color: white;
}

.search_form{
    margin-top: 30px;
}

.search_field{
    margin: 5px;
    width: 25%;
    border: saddlebrown;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}

.search_button{
    border: 0;
    width: 20%;
    text-transform: uppercase;
    padding: 5px 0;
    background-color: gray;
    color: black;
    font-size: 16px;
    margin: 5px;
    border-radius: 5px;
}

.search_button:hover {
    background-color: orange;
}

.search_title{
    color: saddlebrown;
    font-size: 20px;
    margin: 10px;
    width: 20%;
}

.back:hover {
    transition-duration: 0.3s;
    background-color: black;
    color: orange;
}

.cart_icon{
    width: 10%;
    height: 10%;
    margin-left: 10px;
}

.add {
    border: 0;
    width: 280px;
    text-transform: uppercase;
    padding: 5px 0;
    background-color: gray;
    color: black;
    font-size: 16px;
    margin: 5px 0 0 0;
    border-radius: 5px;
}

.add:hover {
    background-color: orange;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-evenly {
    justify-content: space-around;
}

.align-center {
    align-items: center;
    justify-content: center;
}

h1{
    margin: 20px auto 5px auto;
}

.card {
    flex: 300px 0 0;
    box-sizing: border-box;
    margin: 20px 0 0 0;
    padding: 10px 0;
    border-radius: 5px;
    width: 30%;
}

.responsive{
    width: 100%;
    height: auto;
}

.amount{
    width: 30%;
    border-radius: 5px;
}

.card:hover {
    background-color: whitesmoke;
}