<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Book authors </title>
</head>
<body>
<h2> Authors </h2>

<table border="1" cellspacing="2" cellpadding="2">

    <tr class="tableHeader">
        <td><b> Author name</b></td>
        <td><b> Age </b></td>
        <td><b> Short description </b></td>
    </tr>

    <#foreach a in authors>
        <tr class="tableBody">
            <td>${a.fullName}</td>
            <td>${a.age}</td>
            <td>${a.shortDescription}</td>
        </tr>
    </#foreach>
</table>

</body>
</html>