<#import "partials/main.ftlh" as main />

<@main.renderWith styles=["/css/login.css"] scripts=["/js/login.js"]>
    <form action="/login" class="form" method="post">
        <div class="username">
                <input type="text" name="username" placeholder="email address"  value="${(dto.email)!''}" autofocus >
        </div>

        <div class="password">
                <input type="password" name="password" placeholder="password" value="">
        </div>

        <div class="log_button">
            <button type="submit" class="login_button"> Log in </button>
        </div>

        <div class="login">
            <span onclick="redirectToMainPage()"> Main page </span>
        </div>

        <div>
            <#if error!false >
                <p style="color:red">Wrong username or password!</p>
            </#if>
        </div>
        <#if _csrf??>
            <input type="hidden" name="${(_csrf.parameterName)!'csrf'}" value="${(_csrf.token)!'--no-token--'}"/>
        </#if>
    </form>
</@main.renderWith>